* {
  margin: 0px;
  padding: 0px;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;
  list-style-type: none;
  width: 100vw;
  height: 5vh;
}
